/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$bg: #FBE4B9;
$alt-color: #C5314C;
$dark-color: #474542;
$light-gray-color: rgba(52,73,94,0.1);

.bg-alt.bg-alt {
  background-color: $alt-color;
}

.bg-color {
  background-color: $alt-color;
}

.background-wrapper {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: width  0.2s ease-in-out;
}

.shade-right {
  position: fixed;
  content: '';
  top: 0;
  right: 0;
  width: 50%;
  z-index: -1;
  height: 0%;
  background-color: $light-gray-color;
  transition: height 0.2s ease-in-out;
}

.shade-right.active {
  height: 100%;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.massive-lead {
  font-size: 72px;
  line-height: 1;
}

.lead {
  font-size: 31px;
  font-weight: 300;
  line-height: 1.1;
}

.contact__textfield {
  height: 200px;
}

.navbar {
  a:link, a:visited {
    color: $dark-color;
  }
  a:hover, a:active {
    text-decoration: none;
  }
}

.nav-link {
  border-bottom: 1px solid $light-gray-color;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.md-show-inline {
  display: none !important;
}
@media (min-width: 52em) {
  .md-show-inline {
    display: inline-block !important;
  }
}

.nav-link:hover {
  background: rgba(52,73,94,0.1);
  border-bottom: 1px solid rgba(52,73,94,0.1);
}

.nav-link.active {
  background: $alt-color;
  color: white !important;
  border-bottom: 1px solid $alt-color;
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
  input[type=text] {
    height: 3rem;
  }
  label {
   position: absolute;
   bottom: 100%;
   left: 0;
   font-weight: 600;
   font-size: 0.9rem;
   line-height: 1.2rem;
 }
}

.form-group.has-errors {
  input, textarea {
    border: 1px solid $alt-color;
  }
}

.errors {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: $alt-color;
}

.rwd-nav-btn {
  background: $light-gray-color;
  width: 50%;
  text-align: center;
  position: relative;
  a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #333;
    font-weight: 600;
    text-decoration: none !important;
  }
}

.rwd-nav-btn a.active:after {
  content: 'a';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}
