{{outlet}}
<p class="lead">
  Who what why where when?
</p>

<p>
  We exisit to accelerate startups and small businesses from idea to marketplace.
</p>

<p>
  What are our values?
</p>

<p>
  We work with tried and true industrial stength tech (rails) as well as emerging technologies (ember node).
</p>
