{{outlet}}
<p class="lead">
  Bootstrap To Scale
</p>

<p>
  As previous startup-ers, our team exists to accelerate startups and small businesses from idea to marketplace.
</p>

<p>
  Modern Tech, Proven Methods
</p>

<p>
  We work with industry-strength tools (Rails, Ember, Angular, Node, etc.) to deliver effective, scalable, and modern web and mobile apps.
</p>

<p>
  We Love To Build
</p>

<p>
  Need to get something off the ground? Rescue an old project? Push something over the finish line? We’re the team you’ve been looking for!
</p>
