<div class="wrapper">
  <div class="container center">
    <div class="inline-block px2">
      {{link-to "About" "about"}}
    </div>
    <div class="inline-block">
      {{link-to "WarmBodies" "index" class="h1 bold"}}
    </div>
    <div class="inline-block px2">
      {{link-to "Contact" "contact"}}
    </div>
  </div>
</div>
<div class="container">
  <div class="clearfix">
    <div class="col md-col-6">
      <h2>Warm Bodies</h2>
      <p class="lead">
        Bootstrap You Startup To Scale
      </p>
    </div>
    <div class="col md-col-6">
      {{outlet}}
    </div>
  </div>
</div>
