{{outlet}}
<p class="lead">Let's work Together</p>
<p class="lead">
  <a href="mailto:contact@warmbodiesinc.com">contact@warmbodiesinc.com</a>
</p>
<p>
  We'd love to be a part of your next project. Send us an email at <a href="mailto:contact@warmbodiesinc.com">contact@warmbodiesinc.com</a> or send us a message below.
</p>
<label for="email" class="block">Email</label>
{{input type="text"
  value=email
  class="field block col-12"
  placeholder="Your email here"}}
<label for="message" class="block ">Message</label>
{{textarea
  value=message
  type="text"
  class="field col-12"
  placeholder="Your message here"}}

  <a href="#!" class="btn btn-primary bg-alt" {{action "submitForm"}}>Contact Us</a>
